<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MALE_FASHION</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/login1.css">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/assets/images/login.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/images/logo.svg" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Change Your Password</p>
              <form action="/user-foget-password" method="post">
                  <div class="form-group">
                    <label for="password" class="sr-only">password</label>
                    <input type="password" value="" name="password" id="password" class="form-control" placeholder=" new password" required>
                  </div>
                  <div class="form-group mb-4">
                    <label for="reenterpassword" class="sr-only">reenterpassword</label>
                    <input type="password" name="reenterpassword" id="reenterpassword" class="form-control" placeholder="reenter new password" required>
                    <input hidden type="email" value="{{email}}" name="email"  class="form-control" >
                    {{!-- <div id="button-container" style="display:none;"><span>Not received your code?</span><a href="" class="text-reset login-card-footer-text"><button onclick="show()">Resend otp</button> </a></div> --}}
                  

                  </div>
                  
                  <input name="submit-password" id="submit-password" class="btn btn-block login-btn mb-4" type="submit" value="Submit password">
                </form>
                <div class="row">
                  
                </div>
                <div style=" height: 5rem;">{{!-- <a href="#!" class="forgot-password-link">Forgot password?</a>      
                <p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p> --}}
                </div>
                
            </div>
            
        </div>
        
      </div>
      
      
    </div>
    
  </main>

  
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
